# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtualenv / Poetry
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE/OS
.DS_Store
.vscode/
.idea/

# Data & outputs
data/*
!data/*.dvc

# outputs/config.pth
# outputs/oof_df.pkl
# outputs/train.log
# outputs/tokenizer
# outputs/best/*
# outputs/predictions/*
!outputs/best/*.dvc
outputs/*

plots/
gdrive-service.json

# Logs
*.log
